@page "/ListDiary"

<div>
    <input @oninput="e=>OnQuery(e.Value.ToString())" />
</div>

<Table DataSource="@queryDatas">
    <Column @bind-Field="@context.Title"></Column>
    <Column @bind-Field="@context.Data"></Column>
    <Column @bind-Field="@context.Address"></Column>
    <Column @bind-Field="@context.Content"></Column>
</Table>